a:link {
	font-family:"Consolas";
    color: #1cc4a2;
    font-size:12px;
    text-decoration: none;
}
a:hover {
    color: #1cc4a2;
    text-decoration: line-through;    
}
a:visited {
    color: #1cc4a2;
}
a:active {
    color: #1cc4a2;
}

input[type="text"] {
	padding: 10px;
	border: solid 3px #1cc4a2;
	box-shadow: inset 1px 1px 2px 0 #a2c7c0;
	transition: box-shadow 0.3s;	
	font-size:16px;
	font-family:"Consolas";
	color:#21d0ad;
	text-align: center;
}
input[type="text"]:focus,
input[type="text"].focus {	
	border: solid 3px #12120f;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;	
	font-size:16px;	
	outline:none;
	color:#12120f;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:3px;
	border:1px solid #1cc4a2;
	display:inline-block;
	cursor:pointer;
	color:#21d0ad;
	font-family:"Consolas";
	font-size:15px;
	
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

